@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
html,
body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background: rgb(5, 162, 0);
background: radial-gradient(circle, rgb(0, 162, 27) 0%, rgb(2, 82, 12) 82%);  
}

.form-signin {
  width: 30%;    
  margin: auto;
  background: rgb(255 255 255 / 90%);
  padding: 30px;
  border-radius: 10px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input {
 margin-bottom: 10px;
 
}

.form-signin label{
    font-weight: 600;   
}

h1 {
 font-size: 35px;
 font-weight: 600;
 margin-bottom: 30px;
}

.form-signin .registrar {
    font-size: 16px;   
    color: #000;
    text-decoration: none;
}
.form-signin .registrar:hover{
    color: rgb(14, 0, 216);
}
.alert {
    position: absolute;
    width: 40%;
    top: 10px;
    left: 0;
    right: 0;
    margin: auto;
}
 